footer {
  margin-top: 465px;
  padding-top: 0;
  border-top: 1px solid dodgerblue;
  color: dodgerblue;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

