<footer class="footer" xmlns="http://www.w3.org/1999/html">
  <small>


  </small>
  <nav>
    <p>
      <%= link_to "About us", '/pages/about' %>
      <%= link_to "Help", '/pages/help' %>
      <%= link_to "Home", '/pages/home' %>
    </p>
  </nav>
</footer>